@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@font-face {
  font-family: 'MyCustomFont'; /* Name the font anything you like */
  src: url('./components/assets/IBMPlexSans-Regular.ttf') format('truetype'); /* Adjust the path to your font file */
  /* You can also include additional font properties here, such as font-weight and font-style */
}

* {
  
  font-family: 'MyCustomFont'; /* Name the font anything you like */
}

body {
  margin: 0;
  font-family: "MyCustomFont",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
